
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 1px black;
}

button:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
    height: 500px;
    box-shadow: 0 0 1px black;
}
.item {
    display: inline-block;
    box-shadow: 0 0 1px black;
}

.color_picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    padding: 10px;
    box-shadow: 0 0 1px black;
}

.color {
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.a {
    background-color: red;
}

.b {
    background-color: yellow;
}

.c {
    background-color: cyan;
}

.d {
    background-color: black;
}

.current_color {
    display: block;
    height: 50px;
    border-radius: 10px;
    transition: 0.25s;
}